<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    
    <httpRuntime targetFramework="4.5.2" />
    
    <httpModules>
      <add name="ApplicationInsightsWebTracking" 
           type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx"/>
    </authentication>
    
    <membership defaultProvider="MySQLMembershipProvider">
        <providers>
          <remove name="MySQLMembershipProvider" />
          <add  applicationName="travel_agency" 
              connectionStringName="LocalMySqlServer" 
              enablePasswordReset="true" 
              enablePasswordRetrieval="false" 
              maxInvalidPasswordAttempts="5" 
              minRequiredNonalphanumericCharacters="1" 
              minRequiredPasswordLength="7" 
              name="MySQLMembershipProvider" 
              passwordAttemptWindow="10" 
              passwordFormat="Clear" 
              passwordStrengthRegularExpression="" 
              requiresQuestionAndAnswer="false" 
              requiresUniqueEmail="true" 
              type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=8.0.13.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" 
              autogenerateschema="true"/>
        </providers>
    </membership>
    
   <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <remove name="MySQLProfileProvider" />
        <add applicationName="travel_agency" 
             connectionStringName="LocalMySqlServer" 
             name="MySQLProfileProvider" 
             type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=8.0.13.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" 
             autogenerateschema="true"/>
      </providers>
    </profile>
    
    <roleManager defaultProvider="MySQLRoleProvider" 
                 enabled="true"
                 cacheRolesInCookie="true"    
                 createPersistentCookie="false"    
                 cookieProtection="All">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add applicationName="travel_agency" 
             connectionStringName="LocalMySqlServer" 
             name="MySQLRoleProvider" 
             type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=8.0.13.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" 
             autogenerateschema="true"/>
      </providers>
    </roleManager>
    
</system.web>
  
<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings>
    <remove name="LocalMySqlServer" />
    <add connectionString="server=127.0.0.1;uid=root;pwd=1101;database=users_db" name="LocalMySqlServer" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="loginUrl" value="~/Login.aspx" />
      <add key="autoFormsAuthentication" value="false" />
   </appSettings>

  <!-- Deny users to visit RoleBasedAuthorization.aspx -->
  <location path="OrderForm.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Supervisor" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>